<div class="card box" id = "signup-page" style="width: 20rem;">
  <h1>Sign-up</h1>

  <form id="signup-form" class="card-body">
    <label class="form-label" for="username-signup">Username</label>
    <input
      id="username-signup"
      type="text"
      autofocus="true"
      class="form-input"
    />

    <label class="form-label" for="password-signup">Password</label>
    <input
      id="password-signup"
      type="password"
      autofocus="true"
      class="form-input"
    />

    <button type="submit" class="btn">Create Account</button>
    <a class="login-link" href="/login">Login instead</a>

  </form>

</div>

<script src="/js/signup.js"></script>